*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: gray;
}
.hero{
    position: relative;
  
    min-height: 50vh;
}
.heading{
    padding-top: 50px;
}
.custom-shape-divider-top-1698305051 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1698305051 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1698305051 .shape-fill {
    fill: #50E3C2;
}